$mood-normal-color: #d9d9d900;
$mood-cocketly-color: rgb(247 82 170 / 50%);
$mood-angry-color: rgb(221 3 31 / 50%);
$mood-excited-color: rgb(161 200 32 / 50%);
$mood-playful-color: rgb(191 69 176 / 50%);
$transparent-color: #ffffff00;
