@import './components/variables.scss';
@import '~bootstrap/scss/bootstrap';
@import './components/Header/Header.scss';
@import './components/HeroArea/HeroArea.scss';
@import './components/Cards/Cards.scss';
@import './components/Search/Search.scss';
@font-face {
	font-weight: 700;
	font-family: 'OpenSans';
	font-style: normal;
	src: url('./assets/fonts/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
	font-weight: 400;
	font-family: 'OpenSans';
	font-style: normal;
	src: url('./assets/fonts/OpenSans-Regular.woff2') format('woff2');
}

html,
body {
  background-color: $basic-bg-color;
  color: $basic-font-color;
	font-family: 'OpenSans', sans-serif;
}
